/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --ifm-font-family-base: "Poppins", serif;
  --ifm-background-color: white;
  --ifm-font-color-base: #333;
  --ifm-link-color: var(--ifm-font-color-base);
  --ifm-heading-color: var(--ifm-font-color-base);
  --ifm-hero-text-color: var(--ifm-font-color-base);
  --ifm-navbar-link-hover-color: var(--ifm-font-color-base);
  --ifm-menu-color-active: var(--ifm-font-color-base);
  --ifm-breadcrumb-color-active: var(--ifm-font-color-base);
  --ifm-navbar-shadow: 0;
  --ifm-navbar-background-color: var(--ifm-background-color);
  --ifm-hero-background-color: transparent;
  --ifm-footer-background-color: transparent;
  --fallback-b1: #ffffff;
  --b1: 100% 0 0;
}

[data-theme='dark'] {
  --ifm-font-family-base: "Poppins", serif;
  --ifm-font-color-base: #fff;
  --ifm-link-color: var(--ifm-font-color-base);
  --ifm-heading-color: var(--ifm-font-color-base);
  --ifm-hero-text-color: var(--ifm-font-color-base);
  --ifm-navbar-link-hover-color: var(--ifm-font-color-base);
  --ifm-menu-color-active: var(--ifm-font-color-base);
  --ifm-breadcrumb-color-active: var(--ifm-font-color-base);
  --ifm-navbar-shadow: 0;
  --ifm-navbar-background-color: var(--ifm-background-color);
  --ifm-hero-background-color: transparent;
  --ifm-footer-background-color: transparent;
  --fallback-b1: #ffffff;
  --b1: 100% 0 0;
}
